button {
    font-family: 'Raleway', sans-serif;
}
form {
    margin: 0 auto;
    width: 400px;
}
form div + div {
    margin-top: 1em;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #CA541D;
}
hr {
    width: 50px;
    color: #644940;
}
img {
    margin: 0 auto;
    display: block;
}
input, textarea {
    width: 300px;
  box-sizing: border-box;
}
label {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    width: 95px;
    text-align: right;
}
p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
ul {
    margin-right: 10%;
    text-align: center;
}
.gallery {
    width: 215px;
    display: inline-block;
    padding-right: 15px;
}
.service {
    max-width: 49%;
    display: inline-block;
}
#bamboo {
    margin-bottom: 15%;
}
#gltile {
    background: #1b6ba6;
    margin-bottom: 10%;
}
#service-container {
    display: flex;
}
#starcke {
    margin-left: 35%;
    margin-top: -40%;
}