h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #CA541D;
}
hr {
    width: 50px;
    color: #644940;
}
p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.service {
    width: 33%;
}